main {
  min-height: 80vh;
}


.rating {
  display: flex;
  align-content: center;
}

.rating-text {
  font-size: 20px;
  margin: 0px 5px;
}


.selected-file {
  margin: 0px 5px;
}


/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

footer {
  background-color: #333;
  color: white
}

.search-form {
  display: flex;
  width: 300px;
 
 
}

.search-container {
  display: flex;
}


.paginate {
  display:flex
}

.read-more-button {
  padding: 5px;
  margin-left: 15px;
  margin-top: 7px;
}


